.card{
    background-color: hsl(217, 19%, 38%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.radio{
    width: 55px;
    height:55px;
    border-radius: 100%;
    margin: 0 auto;
    background-color: hsl(150, 100%, 66%);
    margin-top: 15px;
    border: hsl(150, 100%, 66%);
    cursor: pointer;
}

.titulo{
    font-family: 'manrope';
    font-size: 28px;
    text-align: center;
    color:  hsl(150, 100%, 66%);
}

.text{
    font-family: 'manrope';
    font-size: 18px;
    text-align: center;
    color:white;
}